@import url('https://fonts.googleapis.com/css?family=Open+Sans|Pacifico|Arimo|Hind:300|Open+Sans+Condensed:300');
/* Импортируем шрифты из Google Fonts */

/* Настройка стилей для всего тела документа */
body {
    padding-top: 90px; /* Отступ сверху для корректного отображения фиксированной навигации */
    background: url('/static/img/dash.jpg') no-repeat center center fixed; /* Фоновое изображение, которое фиксируется при прокрутке */
    background-size: cover; /* Масштабируем изображение по размеру контейнера */
    font-family: 'Roboto', sans-serif; /* Устанавливаем шрифт для текста */
}

ul.dropdown-lr {
  width: 300px; /* Устанавливаем ширину выпадающего списка */
  /* Используется в навигационной панели для выпадающего списка */
}

#homepage-img {
  position: absolute; /* Абсолютное позиционирование для изображения на главной странице */
  z-index: -1; /* Помещаем изображение за другими элементами */
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  filter: brightness(80%); /* Уменьшаем яркость изображения */
  /* Используется на главной странице для фонового изображения */
}

#services {
  margin-top: 25em; /* Отступ сверху */
  /* Используется на главной странице где отображаются услуги моего сайта*/
}

.service-heading, .service-text, span.homepage {
  color: #333; /* Устанавливаем цвет текста */
  /* Используется для заголовков и текста услуг на главной странице */
}


.alert {
   width: 70%; /* Устанавливаем ширину блока с предупреждением */
   margin: 0 auto; /* Центрируем блок */
   /* Используется для центровки блока предупреждений на странице */
}

.img-rounded {
    width: 70%; /* Устанавливаем ширину округленных изображений */
    /* Используется для изображений с округленными углами */
}


#text-title, #text-caption {
    z-index: 100; /* Устанавливаем слой над другими элементами */
    position: absolute; /* Абсолютное позиционирование текста */
    font-family: 'Pacifico', cursive; /* Устанавливаем шрифт для текста */
    /* Используется на главной странице для заголовка и подзаголовка */
}

#text-title {
    color: #FFF; /* Цвет текста */
    font-size: 90px; /* Размер текста */
    left: 50%; /* Расположение по центру по горизонтали */
    transform: translateX(-50%); /* Сдвигаем на половину ширины, чтобы текст был действительно по центру */
    top: 20%; /* Отступ сверху */
    text-shadow: 2px 2px 4px #000; /* Тень для текста */
    /* Используется для заголовка на главной странице */
}

#text-caption {
    color: #556B2F; /* Цвет текста */
    font-size: 30px; /* Размер текста */
    left: 50%; /* Расположение по центру по горизонтали */
    transform: translateX(-50%); /* Сдвигаем на половину ширины, чтобы текст был действительно по центру */
    top: 40%; /* Отступ сверху */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Тень для текста */
    /* Используется для подзаголовка на главной странице */
}

.buttonload {
    border-radius: 24px; /* Скругляем углы кнопки загрузки */
    background-color: #4CAF50; /* Цвет фона кнопки */
    border: none; /* Убираем рамку */
    color: white; /* Цвет текста */
    padding: 12px 16px; /* Отступы внутри кнопки */
    font-size: 16px; /* Размер текста */
    /* Используется для стилизации кнопки загрузки */
}

.page-header {
    padding: 20px; /* Отступы внутри заголовка */
    border-radius: 10px; /* Скругление углов */
    text-align: center; /* Выравнивание текста по центру */
    margin-bottom: 20px; /* Отступ снизу */
    /* Используется для стилизации заголовков страниц */
}

#search-panel-heading {
    font-size: 50px;
    font-family: 'Pacifico', cursive; /* Шрифт заголовка */
    text-align: center; /* Выравнивание текста по центру */
    margin-bottom: 20px; /* Отступ снизу */
    /* Используется для заголовка панели поиска на главной странице */
}

.recommendations, .form-container, #get-user-lists {
    background-color: rgba(255, 255, 255, 0.8); /* Полупрозрачный белый фон */
    padding: 20px; /* Отступы внутри контейнера */
    border-radius: 10px; /* Скругление углов */
    border: 1px solid #ddd; /* Серая рамка */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Тень для блока */
    margin-bottom: 20px; /* Отступ снизу */
    /* Используется для стилизации блоков с рекомендациями, формами и списками пользователя на панели управления */
}

#ingredient-tags, #allergy-tags {
    margin-bottom: 10px; /* Отступ снизу для тегов ингредиентов и аллергенов */
    /* Используется для стилизации тегов ингредиентов и аллергенов на форме ввода */
}

#ingredient-tags input, #allergy-tags input {
    border: 1px solid #ccc; /* Серая рамка */
    padding: 10px; /* Отступы внутри поля ввода */
    border-radius: 5px; /* Скругление углов */
    width: 100%; /* Ширина поля ввода */
    box-sizing: border-box; /* Включаем отступы и границы в общую ширину */
    font-family: 'Roboto', sans-serif; /* Шрифт текста */
    /* Используется для стилизации полей ввода для тегов ингредиентов и аллергенов */
}

button[type="submit"] {
    background-color: #556B2F; /* Цвет фона кнопки */
    color: white; /* Цвет текста */
    border: none; /* Убираем рамку */
    padding: 10px 20px; /* Отступы внутри кнопки */
    border-radius: 5px; /* Скругление углов */
    cursor: pointer; /* Курсор в виде указателя */
    transition: background-color 0.3s ease; /* Плавная смена фона при наведении */
    font-family: 'Hind', sans-serif; /* Шрифт текста */
    /* Используется для стилизации кнопок отправки форм */
}

button[type="submit"]:hover {
    background-color: #45a049; /* Цвет фона кнопки при наведении */
    /* Используется для изменения цвета кнопки при наведении */
}

.card {
    background-color: rgba(255, 255, 255, 0.8); /* Полупрозрачный белый фон */
    padding: 20px; /* Отступы внутри карточки */
    border-radius: 10px; /* Скругление углов */
    border: 1px solid #ddd; /* Серая рамка */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Тень для карточки */
    margin-bottom: 20px; /* Отступ снизу */
    /* Используется для стилизации карточек на панели управления и главной странице */
}

.card h4 {
    margin-top: 0; /* Убираем верхний отступ */
    font-family: 'Pacifico', cursive; /* Шрифт заголовка */
    /* Используется для заголовков в карточках */
}

.card p {
    margin-bottom: 0; /* Убираем нижний отступ */
    font-family: 'Roboto', sans-serif; /* Шрифт текста */
    /* Используется для текста в карточках */
}

.icon {
    font-size: 2em; /* Размер иконки */
    color: #4CAF50; /* Цвет иконки */
    margin-bottom: 10px; /* Отступ снизу */
    /* Используется для стилизации иконок */
}

#new-list-container {
    display: flex; /* Используем flexbox для выравнивания элементов */
    align-items: center; /* Выравниваем элементы по центру по вертикали */
    justify-content: space-between; /* Распределяем элементы равномерно с пробелами между ними */
    /* Используется для контейнера создания нового списка покупок */
}
#new-list-container input[name="new_list_name"] {
    flex-grow: 1; /* Поле ввода занимает всю доступную ширину */
    margin-right: 10px; /* Отступ справа */
    /* Используется для поля ввода названия нового списка покупок */
}
#list-contents {
    background-color: rgba(255, 255, 255, 0.8); /* Полупрозрачный белый фон */
    padding: 10px; /* Отступы внутри контейнера */
    border-radius: 10px; /* Скругление углов */
    border: 1px solid #ddd; /* Серая рамка */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Тень для блока */
    margin-top: 20px; /* Отступ сверху */
    /* Используется для содержимого списка покупок */
}

#list-title {
    margin-top: 10px;
    font-family: 'Pacifico', cursive; /* Шрифт заголовка */
    /* Используется для заголовка списка покупок */
}

.form-container {
    margin-left: 70px;
    margin-top: 20px;
    /* Используется для стилизации формы ввода на панели управления */
}

.user-info p {
    font-size: 24px;
    font-family: 'Roboto', sans-serif; /* Шрифт текста */
    /* Используется для текста информации о пользователе */
}
