{% extends 'base.html' %}
<!-- Расширяем базовый шаблон base.html -->

{% block title %}Найди свою Вкусную Идею{% endblock %}
<!-- Определяем содержимое блока title, который будет отображаться в заголовке страницы -->

{% block content %}
<!-- Определяем содержимое блока content, который будет вставлен в основной контент страницы -->
<meta name="viewport" content="width=device-width, initial-scale=1">   <!-- для мобильной версии -->

<div class="container homepage-background">
    <!-- Контейнер с фоном главной страницы -->
    <div id='homepage-img'></div>
    <!-- Раздел для изображения на главной странице -->
    <p id="text-title">Вкусная Идея</p>
    <!-- Заголовок страницы -->
    <p id="text-caption">
        Найди идеальный рецепт и создай свой список покупок <br>
        без лишних усилий.
        <!-- Краткое описание функционала сайта -->
    </p>
</div>

<section id="services">
    <!-- Секция для описания услуг сайта -->
    <div class="container">
        <div class="row text-center">
            <!-- Ряд с элементами, выровненными по центру -->
            <div class="col-md-6 service-box">
                <!-- Колонка для первой услуги -->
                <div class="service-icon">
                    <img src="/static/img/icons8-recipe-48.png" alt="Поиск рецептов">
                    <!-- Иконка для поиска рецептов -->
                </div>
                <h4 class="service-heading">Поиск рецептов</h4>
                <!-- Заголовок для первой услуги -->
                <p class="service-text">Более 30,000 рецептов на любой вкус</p>
                <!-- Описание первой услуги -->
            </div>
            <div class="col-md-6 service-box">
                <!-- Колонка для второй услуги -->
                <div class="service-icon">
                    <img src="/static/img/icons8.png" alt="Создай свой список покупок">
                    <!-- Иконка для создания списка покупок -->
                </div>
                <h4 class="service-heading">Создай свой список покупок</h4>
                <!-- Заголовок для второй услуги -->
                <p class="service-text">Добавьте ингредиенты выбранного рецепта в свой список покупок одним нажатием.</p>
                <!-- Описание второй услуги -->
            </div>
        </div>
    </div>
</section>

{% endblock %}
<!-- Завершаем блок content -->
